body {
    background-color: #11ABC1;
}

.header {
    text-align: center;
    color: #f6f5f3;
    font-size: 3.5em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}


.btn{
    width: 70px;
    height: 70px;
    border: none;
    color: #f6f5f3;
    background-color: #F5B935;
    padding: 10px 25px;
    display: inline-block;
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#clear {
    width: auto;
    margin-left: 55%;
    margin-right: auto;
}

button:hover {
    background-color: #4BAC3F;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#allButtons {
    margin-left: auto;
    margin-right: auto;
}

